---
import { fetchPackageMeta, fetchTypeDefinitions } from '../../lib/api'
import { getTypeDefFiles, collectDeclarations } from '../../lib/types'
import BaseLayout from '../../layouts/BaseLayout.astro'
import DeclarationRenderer from '../../components/DeclarationRenderer'
import typescript from 'highlight.js/lib/languages/typescript'
import hljs from 'highlight.js/lib/core'
import 'highlight.js/styles/nord.css'
import CodeGroup from '../../components/CodeGroup'
import { PackageDetails } from '../../components/PackageDetails'
import { FileTree } from '../../components/FileTree'

hljs.registerLanguage('typescript', typescript)

const pkgName = Astro.params.pkgName
const pkgMeta = await fetchPackageMeta(pkgName)
const typeDefs = await fetchTypeDefinitions(
  pkgName,
  pkgMeta.types || 'dist/index.d.ts'
)

const typeFiles = await getTypeDefFiles(typeDefs, pkgName)

const grouped = {}

for (let file of typeFiles) {
  const declarations = await collectDeclarations(file.sourceFile)
  declarations.forEach(nodeCodeToHTML, {
    highlighter: code => hljs.highlight(code, { language: 'typescript' }).value,
  })
  const declarationsByKind = declarations.reduce((acc, item) => {
    ;(acc[item.type.label] || (acc[item.type.label] = []),
    acc[item.type.label]).push(item)

    return acc
  }, {})

  grouped[file.name] = {
    declarations: declarations,
    byKind: declarationsByKind,
    all: hljs.highlight(file.typeDefs, { language: 'typescript' }).value,
  }
}

function nodeCodeToHTML(node, index, src) {
  src[index].code = this.highlighter(node.code)
}

const uniqFiles = []

typeFiles.reduce((acc, item) => {
  if (acc.has(item.name)) {
    return acc
  }
  acc.add(item.name)
  uniqFiles.push(item)
  return acc
}, new Set())
---

<BaseLayout>
  <div class="flex flex-col">
    <div class="relative flex gap-8">
      <div class="mt-8">
        <PackageDetails name={pkgName} version={pkgMeta.version} />
        <div class="pl-4">
          <FileTree files={uniqFiles} />
        </div>
      </div>
      <div class="flex-1 max-h-screen overflow-y-auto pr-4 pt-1 mt-4">
        {
          Object.keys(grouped).map(x => {
            const fileDef = grouped[x]
            const byKind = fileDef.byKind
            const all = fileDef.all

            return (
              <div class="py-2 mt-2">
                <div class="border rounded-t border-zinc-800 p-2">
                  <p id={x} class="text-center">
                    <a href={`#${x}`}>{x}</a>
                  </p>
                </div>
                <DeclarationRenderer data={byKind} />
                <CodeGroup name="All">
                  <pre
                    class={`ml-2 p-4 select-all whitespace-pre-wrap`}
                    set:html={all}
                  />
                </CodeGroup>
              </div>
            )
          })
        }
      </div>
    </div>
  </div>
</BaseLayout>
